<html>

<head>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body style="background-color:#3A465C;">
    <div class="container">
        <div class="child" , style="text-align: center;">
            <h1 style="font-size:32px; color: #ffffff; font-family:Lato">
                ABOUT
            </h1>
            <div class="good">
                <p style="font-size:16px; color: #FFBC00; font-family:Lato">

                </p>
                <p style="font-size:16px; color: #FFBC00; font-family:Lato;  font-weight: bold;">
                    Ice Breaker is a tool anyone can use to randomly generate 1:1 pairings from a list of names,
                    usernames, email addresses or other identifiers.
                    <br><br>
                </p>
                <div class="developer-tag">
                    <p>
                        Developed with ❤ by
                        <a href="https://www.github.com/kylermintah" class="external-link" target="_blank">
                            Kyler Mintah
                        </a>
                        <br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="topleft" style="">

        <a href="/" class="arrow">
            ⬅
        </a>
        <!-- <img class=mainimage, src='/images/aang.gif' , alt='4ourge logo' , height='70' , width='70'> -->
    </div>

</body>

</html>