<html>

<head>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color:#3A465C;">
    <div class="container">
        <div class="child" , style="text-align: center;">
            <img class=mainimage, src='/images/iceberg.gif' , alt='4ourge logo' , height='100' , width='100' ,
                class="center">
            <h1 style="font-size:32px; color: #ffffff; font-family:Lato" ,>
                MATCH
            </h1>
            <div class="good">
                <p style="font-size:16px; color: #FFBC00; font-family:Lato">
                    <b>copy/paste a list of <strong>line-separated</strong> identifiers</b><br>
                </p>
            </div>
            <form action="/match/results" method="POST">
                <br>
                <textarea id="entryList" data-gramm_editor="false" placeholder="Paste here..." rows="10" cols="40"
                    name="entryList" rows="20" spellcheck="false" minlength="5"></textarea>
                <br>
                <br>
                <div class="form-submit-button" id="button1">
                    <input type="submit" value="submit" />
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        Developed with ❤ by
        <a href="https://www.github.com/kylermintah" class="external-link" target="_blank">
            Kyler Mintah
        </a>
        <br><br>
    </div>
    <div class="topleft">
        <a href="/" class="arrow">
            ⬅
        </a>
    </div>
</body>

</html>