<html>

<head>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body style="background-color:#3A465C;">
    <div class="container">
        <div class="child" , style="text-align: center;">
            <img class=mainimage, src='/images/aang-transparent.gif' , alt='4ourge logo' , height='100' , width='100' ,
                class="center">
            <h1 style="font-size:32px; color: #ffffff; font-family:Lato" ,>
                RESULTS
            </h1>
            <div class="good">
                <p style="font-size:16px; color: #FFBC00; font-family:Lato">
                    <b>below are your 1:1 matches</b><br>
                </p>
            </div>
            <br><br>
            <var>
                <h1 style="font-size:16px; color: #ffffff; font-family:Lato; font-size: large;">
                    <%- results %>
                </h1>
            </var>

        </div>
    </div>
    <div class="footer">
        Developed with ❤ by
        <a href="https://www.github.com/kylermintah" class="external-link" target="_blank">
            Kyler Mintah
        </a>
        <br><br>
    </div>
    <div class="topleft">
        <a href="/" class="arrow">
            ⬅
        </a>
    </div>
</body>

</html>