<html>

<head>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color:#3A465C;">
    <div class="container">
        <div class="child" , style="text-align: center;">
            <img class=mainimage, src='/images/iceberg.gif' , alt='4ourge logo' , height='100' , width='100' ,
                class="center">
            <h1 style="font-size:32px; color: #ffffff; font-family:Lato" ,>
                ICE BREAKER
            </h1>
            <div class="good">
                <p style="font-size:16px; color: #FFBC00; font-family:Lato">
                    <b>a random 1:1 match generator for new teammates!</b><br><br><br>
                    <center>
                        <a href="/match" class="button" target=>
                            Get Started!
                        </a>
                    </center>
                </p>

            </div>
        </div>
    </div>

    <div class="topright" method="POST" action="/about">
        <a href="/about" class="button">
            about
        </a>
    </div>

    <div class="footer">
        Developed with ❤ by
        <a href="https://www.github.com/kylermintah" class="external-link" target="_blank">
            Kyler Mintah
        </a>
        <br><br>
    </div>
</body>

</html>